#Projects h1 {
  color: white;
}

.tabs {
  color: white !important
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: white !important
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: #404040 !important;
}

.mdl-ripple {
  background: white !important
}

.card-row {
  padding-top: 20px;
  width: 100%;
}

.card {
  border-radius: 10px;
  text-align: center;
  opacity: .95;
}

.img-fluid {
  border-radius: 10px;
  background-image: url("react-basics.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;

}

.form {
  height: 125px;
}
.movies {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 125px;
}

.weather {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 125px;
}

.recipe {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 125px;
}

.title {
  text-align: center;
}

.text {
  text-align: left;
}

.card-body {
  padding-top: 10px;
  opacity: 0.9;
}

.btn {
  border-radius: 50px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.col-sm-12 {

}


@media only screen and (max-width: 575px) {

  .card-col {

    padding-bottom: 10px;
    padding-left: 100px;

  }

  .second-row {
    padding-top: 0px;
  }

  .col-sm-12 {
    padding-bottom: 30px;
  }



}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .card-col {
    padding-bottom: 10px;
    padding-left: 100px;
  }
  .card-row {
    padding-top: 0px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card-col {
    padding-bottom: 10px;
    padding-left: 100px;
  }
  .card-row {
    padding-top: 20px;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .card-col {
    padding-bottom: 10px;
    padding-left: 100px;
  }
  .card-row {
    padding-top: 20px;
    width: 100%;
  }

}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .card {
    width: 100%;
    margin: auto;
    display: block;
  }

  .card-row {
    padding-top: 20px;
    width: 100%;
  }

}
